<!DOCTYPE html>
<!-- HTML file for disrupp.me landing page.
Sam Choi and Antares Chen
Last Update: 6-6-16 -->

<html lang="en">
	<head>
		<title>Disrupp Me - Startup Generator</title>
		<!--   Icon   -->
		<link rel="icon" href="../static/images/bigdata-cloud.ico">
		<!--   CSS   -->
    	<link rel="stylesheet" href="../static/css/style.css"/>
        <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	</head>
	<body>
		<br><br><br><br><br><br>
		<p>Welcome to Disrupp Me, the world's leading startup generator</p>
		<p> \\  because every startup needs a start  // </p>
		<br><br>
		<form action="#" id="input-form">
			First name:
			<br>
			<input type="text" name="firstname">
			<br>
			Last name:
			<br>
			<input type="text" name="lastname">
			<br>
			Industry:
			<br>
			<input type="text" name="lastname">
			<br><br><br>
			<input type="submit">
		</form>
	</body>
</html>